/* Download content layout */
.downloadContent {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    transition: opacity 0.4s ease;
    align-items: center;
}

.downloadText {
    flex: 1 1 350px;
    animation: global(fadeup) 0.5s ease-in;
}

.downloadImage {
    flex: 1 1 300px;
    max-width: 40vw;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.downloadTabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 10px 0;
}

.downloadTabBtn {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    background-size: 200% 100%;
    background-position: left;
    border: none;
    color: var(--bg-color);
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-position 0.5s ease, transform 0.2s ease, box-shadow 0.2s ease;
    user-select: none;
    text-align: center;
    width: 100%;
}

    .downloadTabBtn:hover {
        background-position: right;
    }
    .downloadTabBtn.active {
        background-position: right;
    }

.downloadImage.fadeIn {
    opacity: 0;
    animation: global(fadeup) 0.5s ease-in-out forwards;
}



.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient( 180deg, rgba(47, 184, 255,0.42) 31.77%, #5c9df1 100% );
    mix-blend-mode: color-dodge;
    -webkit-animation: move 25s infinite alternate;
    animation: move 25s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

    .blob:hover {
        width: 520px;
        height: 520px;
        -webkit-filter: blur(30px);
        filter: blur(30px);
        box-shadow: inset 0 0 0 5px rgba(255,255,255, 0.6), inset 100px 100px 0 0px #fa709a, inset 200px 200px 0 0px #784ba8, inset 300px 300px 0 0px #2b86c5;
    }

@-webkit-keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

@keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}