.navbar {
    position: sticky;
    top: 0;
    height: 50px;
    max-width: calc(100% - 4rem);
    z-index: 10;
    padding: 0.25rem 2rem;
    background: #12192290;
    margin: 1rem 2rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 30;
}

.navLink {
    color: var(--text-color);
    font-weight: 400;
    transition: color 0.3s ease;
    text-decoration: none;
}

    .navLink:hover {
        color: var(--btn-bg);
    }

    .navLink.active {
        color: var(--btn-bg);
        font-weight: 700;
    }

.logo {
    height: 40px;
    cursor: pointer;
    box-shadow: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

/* Hamburger button */
.hamburger {
    display: none; /* hidden on desktop */
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 20;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Hamburger animation to X */
.hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile menu */
.navLinks {
    display: flex;
    gap: 1.5rem;
}

@media screen and (max-width: 768px) {
    .navbar{
        margin: 1rem;
        max-width: calc(100% - 2rem);
        overflow-x: clip;
    }
    .hamburger {
        display: flex;
    }

    .navLinks {
        position: fixed;
        top: 70px;
        right: -100%;
        height: calc(100vh - 70px);
        width: 100%;
        background: #121922ee;
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        gap: 1.5rem;
        transition: all 0.3s ease-in-out;
        border-radius: 10px 0 0 10px;
        opacity: 0;
        z-index: -1;
    }

        .navLinks.open {
            right: 0;
            opacity:1;
            z-index: 20;
        }

    ul li {
        width: 100%;
        text-align: center;
    }
}
