@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glowPulse {
    0%, 100% {
        text-shadow: 0 0 10px var(--accent-color), 0 0 20px var(--accent-color);
    }

    50% {
        text-shadow: 0 0 20px var(--accent-color-dark), 0 0 40px var(--accent-color-dark);
    }
}
